

#news {
    display: grid;
    grid-gap: 3px; /* Adjust the gap between elements as needed */
}

@media (min-width: 1600px) {
    #news {
        grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    }
}

@media (min-width: 1300px) and (max-width: 1599px) {
    #news {
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    }
}

@media (min-width: 1000px) and (max-width: 1299px) {
    #news {
        grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    }
}

@media (max-width: 999px) {
    #news {
        grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    }
}




